$base-color: #fdeff8;

.mat-form-field {
  display: block;
  width: 100%;
}

.mat-form-field-outline-start {
  border-radius: 4px 0 0 4px !important;
  min-width: 4px !important;
}

.mat-form-field-outline-end {
  border-radius: 0 4px 4px 0 !important;
}

.mat-dialog-actions {
  justify-content: space-between;
}

.mat-flat-button {
  width: 48%;
}

.mat-dialog-actions .mat-button-base+.mat-button-base,
.mat-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base {
  margin: 0;
}