<p mat-dialog-title>НОВАЯ ЗАДАЧА</p>
<div mat-dialog-content class="dialog-content">
  <mat-form-field class="todo-tittle" appearance="outline">
    <input
      matInput
      [formControl]="TodoTitleFormControl"
      placeholder="Название задачи..."
    />
    <mat-error *ngIf="TodoTitleFormControl.hasError('required')">
      Введите название задачи
    </mat-error>
  </mat-form-field>
  <mat-form-field class="project-title" appearance="outline">
    <mat-label>Категория</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="projects" disableRipple>
      <mat-option *ngFor="let project of projects" [value]="project.value">
        {{ project.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button mat-dialog-close color="primary">Отмена</button>
  <span class="spacer"></span>
  <button
    mat-flat-button
    mat-dialog-submit
    [disabled]="TodoTitleFormControl.hasError('required')"
    color="primary"
  >
    Ок
  </button>
</div>
