button.mat-flat-button {
  width: 48%;
  border-radius: 4px;
}

button.mat-icon-button.icon-remove {
  color: crimson;
  border: solid 1px #0000000f;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 20px;
}

button.mat-icon-button.icon-add {
  color: white;
  border: solid 1px #0000000f;
}

.mat-icon {
  height: 10px;
  width: 10px;
  font-size: 20px;
}

button.mat-icon-button.icon-remove .mat-icon {
  font-size: 20px;
  display: block;
}

button.mat-flat-button {
  color: white;
  background-color: #3abcdf;
}