.mat-dialog-container.mat-dialog-container {
  padding: 0;
}

p.mat-dialog-title {
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
}

.mat-dialog-title {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 6px 0;
}