p.mat-dialog-title {
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

div.mat-dialog-content.mat-dialog-content.dialog-content {
  text-align: center;
}

div.mat-dialog-content {
  margin: 0;
  padding: 0;
}

div.mat-dialog-actions.mat-dialog-actions {
  padding: 0;
  min-height: auto;
  justify-content: space-between;
}

.mat-dialog-content {
  padding: 0;
}

.mat-form-field.mat-form-field {
  display: block;
}

.mat-dialog-container.mat-dialog-container {
  padding: 12px;
}