div.mat-grid-tile-content {
  align-items: baseline;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.mat-grid-tile.mat-grid-tile {
  overflow: visible;
}

.mat-checkbox-layout .mat-checkbox-label {
  white-space: normal;
  line-height: normal;
}

// .mat-grid-list {
  // }